@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron:wght@800&display=swap');

*
{
    margin:        0;
    padding:       0;
    border:     none;
}

.layer 
{
    position: absolute;
    left:     0px;
    right:    0px;
    top:      0px;
    bottom:   0px;
}

#background 
{
     width: 100%;
    height: 100%;
}

#gamefield 
{
    background-color: transparent;
 }

#gamefield_canvas
{
     position: absolute;
}

#logo img
{
    width:  356px;
    height: 243px;
}
.menu 
{
    display:                none;
    background-color:     rgba(226,8,22, 0.452);
    top:                   -100%;
    width:                  100%;
    height:                 100%;
    text-align:            -webkit-center;
}

#main 
{
    background-color:       black;
    height:                 100%;
    width:                   51%;
}

.menu_active
{
    display:                block;
    top:                    0px;
    transition:             top 1s;
    transition-delay:       3s;
}

.button_main
{
    width:                350px;
    height:                90px;
    margin-top:            35px;
    border:                 4px solid rgb(226,8,22);
    border-radius:         50px;
    background-color:    rgb(255, 255, 255);
    font-size:             40px;
    font-family:          "Orbitron","Sans-serif";
    line-height:           2;
}

.button_main:hover
{
    background-color:   rgb(226,8,22);
    color:              white;
    border:              4px solid white;
}

.playerselectioncontainer
{
border-top-color:      rgb(85, 176, 48);
border-top-width:        2px;
border-top-style:        solid;
height:                  90px;
}

.playertitle
{
    color:            rgb(85, 176, 48);
    font-size:          26px;
    font-weight:        bold;
    font-family:       "Orbitron","Sans-serif";
    letter-spacing:     2px;
}


.playerselectionrow
{
height: 40px;
}

.playerbuttonimage
{
    width:   100%;
    height:  100%;
}
.playerbuttons
{
    display:        inline-block;
    vertical-align: top;
    width:          50px;
    height:         100%;
}

.playerselbutton_selected
{
    background-color:   rgb(226,8,22);
    border-color:       rgb(84, 176, 48);
    border-style:         solid;
    border-width:         2px;
}

input{
    height: 100%;
    width:  100%;
}
.playername
{
    vertical-align:     top;
    display:            inline-block;
    height:             100%;
    border-width:       2px;
    border-color:       "grey";  
    border-style:       solid;
    border-radius:      5px;
}

.playername_disabled
{
    display: none;
 }

 #playername_1, #playername_2, #playername_3, #playername_4:focus
 {
     outline-style:  none;
 }

 .rules
 {
    background-color:       black;
    height:                 100%;
    width:                  51%;
    display:                none;
} 

#rules_text
{
    width:              55%;
    height:             90%;
    padding:            40px;
    background-color: white;
    color:            black;
    border:           red 2px solid;
    border-radius:      50px;
}

#rules_text img
{
    height: 50px;
    width:  50px;
}

#rules_h1
{
    font-size:            30px;
    font-family:         "Orbitron","Sans-serif";
    background-color:   rgb(226,8,22);
    color:              white;
    border:               4px solid white;
    border-radius:        50px;
    margin-top:          -20px;
}

#rules_text h2
{
    font-size:         30px;
    font-family:       "Orbitron","Sans-serif";
}

#rules_text p
{
    font-family: "Montserrat", "Sans-serif";
}

.back_button
{
    width:                150px;
    height:                50px;
    margin-top:            35px;
    border:                 4px solid rgb(226,8,22);
    border-radius:         50px;
    background-color:    rgb(255, 255, 255);
    font-size:             30px;
    font-family:          "Orbitron","Sans-serif";
    line-height:           1.7;
    float:                 left;
    margin-left:           10px;
    margin-top:            25px;
}

.back_button:hover
{
    background-color:   rgb(226,8,22);
    color:              white;
    border:              4px solid white;
}